@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema de Recursos Humanos</h1>
    <p class="lead" style="text-align:justify">Los sistemas de administración de recursos humanos o sistemas de información de recursos humanos conocido también como RR.HH. , también conocidos por sus siglas SARH y SIRH respectivamente, forman una interfaz entre la gestión de recursos humanos y la tecnología de la información. Esto combina los recursos humanos (RRHH) y en particular sus actividades administrativas con los medios puestos a su disposición por la informática, y se refieren en particular a las actividades de planificación y tratamiento de datos para integrarlos en un único sistema de gestión. </p>
    <p class="lead">Christopher Colon: 20117-5003</p>
    <p class="lead">Diego Lobato: 20117-4908</p>
</div>

<div class="row">
</div>